.hero
  display: flex
  flex-direction: column
  justify-content: center
  position: relative
  background: $dark url('../img/image 4.3.jpg') no-repeat center / cover
  height: 100vh 
  color: $light
  padding: 100px
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
    top: 0
    left: 0
  &__content
    max-width: 670px
    position: relative
  &__text 
    font-size: 22px
    max-width: 500px
  &__button 
    margin-right: 20px
  &__instagram 
    max-width: 100px
    width: 100%
    height: 100%
    top: 0
    left: 0
.instagram
  display: flex
  position: absolute
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link 
    display: flex
    align-items: center
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
    line-height: 0.8
    &::after
      content: ''
      width: 50px
      height: 3px
      background-color: $primary
      margin-left: 30px
    
   
    
.title
  margin: 0
  font-family: "Yeseva One", cursive
  text-transform: uppercase
  font-size: 40px
  &--primary
    color: $primary
.hero__scroll-down
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  min-width: 247px
  min-height: 97px
  background-color: $dark
  text-transform: uppercase
  text-decoration: none
  color: $light
  left: 0
  bottom: 0
  &:after 
    content: ''
    width: 30px
    height: 30px
    border: 1px solid
    border-color: $primary
    border-radius: 50%
    margin-left: 12px
    background: url(../img/Vector.svg) no-repeat center
    
